body {
	background: #f1f5f8  no-repeat center 230px;
}
#tagCloud {
	position:relative;
	width:350px;
	height:300px;
	margin: 0px auto 0;
}
#tagCloud a {
	position:absolute;
	top:0px;
	left:0px;
	font-family: Microsoft YaHei;
	color:#000; 
	font-weight:bold;
	text-decoration:none;
	padding: 3px 6px;
}
#tagCloud a:hover {
	border: 1px solid #eee;
	background: #fff;
}

#tagCloud .blue {
	color:blue;
}
#tagCloud .red {
	color:red;
}
#tagCloud .deepPink  {
	color:deepPink ;
}
#tagCloud .green {
	color:green;
}
#tagCloud .bisque  {
	color:bisque;
}
#tagCloud .greenYellow{
	color:greenYellow;
}
#tagCloud .darkOrchid   {
	color:darkOrchid;
}
#tagCloud .orange   {
	color:orange;
}
#tagCloud .sienna   {
	color:sienna;
}


p {
	font: 16px Microsoft YaHei;
	text-align: center;
	color: #ba0c0c;
}
p a {
	font-size: 14px;
	color: #ba0c0c;
}
p a:hover {
	color: red;
}