
.row-item {
    margin: 2px auto 6px;
}

.mod-form-rows label {
    vertical-align: middle;
}

a:link {
    color: #428bca;
}

a:visited {
    color: #428bca;
}

a:hover {
    color: #428bca;
}

a:active {
    color: #428bca;
}

#typeCombo {
    margin-right: 10px;
}

#kw {
    width: 560px;
    margin-right: 10px;
}

#btn-su {
    height: 28px;
    line-height: 28px;
    color: #fff;
}

.box {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    /* è®¾ç½®æ–‡å­—ä¸èƒ½è¢«é€‰ä¸­ */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pageWrap > .page-left {
    min-width: 360px;
    text-align: center;
}

#page-view {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25);
}

div#page-view {
    background: #5f5f5f;
}

.page-view-bg {
    background: #eee !important;
}

#pageWrap > .page-center {
    margin: auto 15px;
}

#pageWrap > .page-center > .prev, .next {
    cursor: pointer;
}

#pageWrap > .page-right {
    flex: 1;
}

#pageWrap > .page-right > .content-header {
    height: 50px;
    line-height: 50px;
}

#pageWrap > .page-right > .content-header label, a, input {
    vertical-align: middle;
}


#title {
    width: 450px;
}


#label-text {
    width: 150px;
    margin-right: 10px;
}

.box-label {
    position: relative;
    min-width: 40px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #0d99ee;
    border: 1px solid #0d99ee;
    border-radius: 15px;
    padding: 0 5px;
    cursor: pointer;
    text-align: center;
    margin: 0 10px 10px 0;
}


.label-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 15px;
}

.label-hover-bg {
    background-color: #4b495f;
    opacity: 0.6;
}


.label-hover > .icon-del {
    color: #f8f8f8;
    font-size: 16px;
}

.label-del:hover .label-hover {
    display: block;
}

.label-del:hover .label-hover-bg {
    display: block;
}


.label-hover > .icon-add {
    color: #58db8f;
    font-weight: bold;
}

.label-add:hover .label-hover {
    display: block;
}

.label-add:hover .label-hover-bg {
    display: block;
}

.label-hot {
    width: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.clear {
    clear: both;
}


#label-list {
    position: absolute;
    display: none;
    width: 280px;
    right: 30px;
    border: 1px solid #000;
    padding: 15px;
    background-color: #f4f4f4;
    z-index: 999;
}


#label-view {
    height: 250px;
    max-height: 250px;
    padding: 15px 0 15px 0;
    /*background-color: #eee;*/
    overflow: auto;
}

#pageWrap > .page-right > .content-footer {
    position: relative;
    top: 30px;
    text-align: center;
}


.btn_disabled {
    border: 1px solid #eaeaea;
    color: #ccc;
    background: #fff;
    cursor: not-allowed;
}

.btn_disabled:hover {
    color: #ccc;
    background: #fff;
}

.br-primary {
    border-color: #337ab7;
}

.br-success {
    border-color: #dff0d8;
}

.br-info {
    border-color: #d9edf7;
}

.br-warning {
    border-color: #fcf8e3;
}

.br-danger {
    border-color: #f2dede;
}