/* 防止微信浏览器被整体拖拽 开始 */
#pageWrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #5f5f5f;
    text-align: center;
}

.page-header {
    position: absolute;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
}

.page-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.page-content > * {
    z-index: 1;
}

/* 防止微信浏览器被整体拖拽 结束 */

iframe {
    border: 0;
}

.panel-fixed {
    position: fixed;
    width: 100%;
    z-index: 8;
    box-shadow: 0 0.0625rem 0.1875rem 0 #e0e0e0;
}

.panel-fixed_form {
    top: 0;
    background: #f1f5f8;
}

.panel-fixed_box {
    width: 60px;
    height: 120px;
    bottom: 80px;
    right: 20px;
    background: #eee;
    border-radius: 5px;
}

/* 按钮 */
.btn-cell {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    cursor: pointer;
}

.btn-cell:active {
    background: #d4d4d4;
    border-radius: 5px;
}

.btn-cell_icon {
    vertical-align: middle;
}

.btn-cell .btn-cell_p {
    font-size: 13px;
    color: #1296db;
}

.weui-btn_disabled {
    cursor: not-allowed;
}

.cell-border {
    border: 1px solid #fff;
    border-radius: 5px;
}

.cell-title {
    display: none;
}

.error {
    border-color: #ed5565;
}

/* 上传按钮 */
.btn {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    min-width: 60px;
    border: 1px solid #36a0e3;
    font-size: 14px;
    border-radius: 13px;
    background-color: #41b1e3;
    color: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px #e0e0e0;
}

.btn-sm {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}

.btn:hover {
    background-color: #57c6f8;
    text-decoration: none;
    color: #fff;
}

@font-face {
    font-family: iconfont;
    src: url(/lib/yt/css/fonts/iconfont.eot);
    src: url(/lib/yt/css/fonts/iconfont.eot?#iefix) format('embedded-opentype'), url(/lib/yt/css/fonts/iconfont.woff) format('woff'), url(/lib/yt/css/fonts/iconfont.ttf) format('truetype'), url(/lib/yt/css/fonts/iconfont.svg#iconfont) format('svg')
}

.iconfont {
    font-family: iconfont !important;
    font-style: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 标签 */
.box-flex {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.label-warp {
    position: relative;
    padding: 5px 10px 5px 0;
}

.label-warp > img {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    z-index: 10;
    border-radius: 50%;
    background: #fff;
}

.label {
    color: #0d99ee;
    height: 24px;
    line-height: 24px;
    border: 1px solid #0d99ee;
    border-radius: 15px;
    padding: 0 5px;
    font-size: 14px;
    cursor: pointer;
    min-width: 40px;
    text-align: center;
}

/* 蓝色 */
.label.blue {
    color: #8bbae4;
    border-color: #8bbae4;
}

/* 绿色 */
.label.green {
    color: #a0e48b;
    border-color: #a0e48b;
}

/* 橙色 */
.label.orange {
    color: #ecbe5b;
    border-color: #ecbe5b;
}

/* 红色 */
.label.red {
    color: #e48b8b;
    border-color: #e48b8b;
}

/* 紫色 */
.label.purple {
    color: #e48bd9;
    border-color: #e48bd9;
}

/* 灰色 */
.label.grey {
    color: #c3c3c3;
    border-color: #c3c3c3;
}
