<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.CustomerReadinfoMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.CustomerReadinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="share_id" property="shareId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
    <result column="view_time" property="viewTime" jdbcType="INTEGER" />
    <result column="page_count" property="pageCount" jdbcType="INTEGER" />
    <result column="total_time" property="totalTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="read_info" property="readInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="MessageReadInfoMap" type="com.wzy.crm.pojo.MessageReadInfo">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="share_id" property="shareId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="msgType" property="msgType" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="name" property="customerName" jdbcType="VARCHAR" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="open_time" property="openTime" jdbcType="TIMESTAMP" />
    <result column="view_time" property="viewTime" jdbcType="INTEGER" />
    <result column="page_count" property="pageCount" jdbcType="INTEGER" />
    <result column="total_time" property="totalTime" jdbcType="INTEGER" />
    <result column="read_info" property="readInfo" jdbcType="LONGVARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer_readinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wzy.crm.pojo.CustomerReadinfo" >
    insert into customer_readinfo (id,share_id, user_id,
      times, message_id, customer_id, 
      open_id, ip, cid, city, 
      open_time, view_time,page_count,total_time,update_time,
      read_info)
    values (#{id,jdbcType=INTEGER},#{shareId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},
      #{times,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{openId,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      now(), 0,#{pageCount,jdbcType=INTEGER},0, now(),
      #{readInfo,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.CustomerReadinfo">
    update customer_readinfo
    <set>
      <if test="shareId != null">
        share_id = #{shareId},
      </if>
      <if test="userId != null and userId != ''">
        user_id = #{userId},
      </if>
      <if test="messageId != null">
        message_id = #{messageId},
      </if>
      <if test="customerId != null and customerId != ''">
        customer_id = #{customerId},
      </if>
      <if test="openId != null and openId != ''">
        open_id = #{openId},
      </if>
      <if test="ip != null and ip != ''">
        ip = #{ip},
      </if>
      <if test="cid != null and cid != ''">
        cid = #{cid},
      </if>
      <if test="city != null and city != ''">
        city = #{city},
      </if>
      <if test="openTime != null ">
        open_time = #{openTime},
      </if>
      <if test="viewTime != null and viewTime != ''">
        view_time = #{viewTime},
      </if>
      <if test="totalTime != null and totalTime != ''">
        total_time = #{totalTime},
      </if>
      <if test="readInfo != null and readInfo != ''">
        read_info = #{readInfo},
      </if>
      update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateInfoAndTimesByKey">
    update customer_readinfo
    <set>
      <if test="customerId != null and customerId != ''">
        customer_id = #{customerId},
      </if>
      <if test="ip != null and ip != ''">
        ip = #{ip},
      </if>
      <if test="cid != null and cid != ''">
        cid = #{cid},
      </if>
      <if test="city != null and city != ''">
        city = #{city},
      </if>
      <if test="times != null and times != ''">
        times = #{times},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByKeyAndTime" >
    update customer_readinfo
    <set>
      <if test="viewTime != null and viewTime != ''">
        view_time = #{viewTime},
      </if>
      <if test="totalTime != null and totalTime != ''">
        total_time = #{totalTime},
      </if>
      <if test="readInfo != null and readInfo != ''">
        read_info = #{readInfo},
      </if>
        update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER} and #{viewTime} >= view_time and #{totalTime} >= total_time
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, share_id, user_id, times, message_id, customer_id, open_id, ip, cid, city, 
    open_time, view_time, update_time, read_info
    from customer_readinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, share_id, user_id, times, message_id, customer_id, open_id, ip, cid, city, 
    open_time, view_time, update_time, read_info
    from customer_readinfo
  </select>
  <select id="selectByShareKey" resultMap="BaseResultMap">
    select id,share_id,user_id,customer_id,message_id,open_id,times,view_time
    from customer_readinfo
    where share_id = #{shareId} and message_id = #{messageId}
  </select>
  <select id="selectMessageShareDetail" resultMap="MessageReadInfoMap">
    SELECT cr.id,cr.share_id,cr.message_id,message.msgType,cr.user_id,cr.customer_id,customer.`name`,cr.times,cr.city,cr.open_time,cr.view_time,cr.page_count,cr.total_time,cr.read_info,cr.update_time
    from (
    select id,share_id,message_id,user_id,customer_id,times,city,open_time,view_time,page_count,total_time,read_info,update_time
    from customer_readinfo
    where message_id = #{messageId} and user_id = #{userId}
    ) cr
    left join message
    on cr.message_id = message.id
    left join customer
    on cr.customer_id = customer.id;
  </select>
</mapper>