<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.Customer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="webSite" property="website" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="CustomerDetailMap" type="com.wzy.crm.pojo.CustomerDetailInfo">
    <id property="id" column="id" jdbcType="INTEGER"/>
    <association property="customer" javaType="com.wzy.crm.pojo.Customer">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="mobile" property="mobile" jdbcType="VARCHAR" />
      <result column="wechat" property="wechat" jdbcType="VARCHAR" />
      <result column="company" property="company" jdbcType="VARCHAR" />
      <result column="position" property="position" jdbcType="VARCHAR" />
      <result column="address" property="address" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
    </association>
    <collection property="followCus" ofType="com.wzy.crm.pojo.Staff">
      <id property="id" column="follow_id"/>
      <result property="name" column="follow_name"/>
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wzy.crm.pojo.Customer" >
    insert into customer (id, `name`, mobile,
      wechat, company, `position`,
      address, telephone, email, 
      webSite, fax, remark, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{website,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.Customer" >
    update customer
    set `name` = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      webSite = #{website,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, `name`, mobile, wechat, company, `position`, address, telephone, email, webSite,
    fax, remark, update_time
    from customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `name`, mobile, wechat, company, `position`, address, telephone, email, webSite,
    fax, remark, update_time
    from customer
  </select>
  <select id="selectCustomerDetailByParam" resultMap="CustomerDetailMap">
    select c.id,c.name,c.company,c.position,c.mobile,c.email,staff.name follow_name
    from
    (select id,`name`,company,`position`,mobile,email
    from customer
    <where>
      <if test="keyword != null and keyword != ''">
        AND customer.name LIKE #{keyword}
      </if>
      <if test="startTime != null and startTime != ''">
        AND customer.`update_time` <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND customer.`update_time` <![CDATA[<=]]> #{endTime}
      </if>
    </where>
    ORDER BY ${orderColumn} ${orderType} limit ${start},${length}) c
    LEFT JOIN staff_customer_follow_relation
    ON c.id = staff_customer_follow_relation.customer_id AND staff_customer_follow_relation.is_follow = 1
    LEFT JOIN staff
    ON staff.userid = staff_customer_follow_relation.user_id
  </select>
  <select id="selectCustomerDetail" resultMap="CustomerDetailMap">
    select c.id,c.name,c.company,c.position,c.mobile,c.email,staff.name follow_name
    from (select * from customer ORDER BY update_time DESC limit 5) c
    LEFT JOIN staff_customer_follow_relation
    ON c.id = staff_customer_follow_relation.customer_id AND staff_customer_follow_relation.is_follow = 1
    LEFT JOIN staff
    ON staff.userid = staff_customer_follow_relation.user_id
  </select>
  <select id="findCustomerCount" resultType="int">
    SELECT COUNT(*) FROM customer
  </select>
  <select id="findCustomerCountByParam" resultType="int">
    select COUNT(DISTINCT (c.id))
    from
    (select id,`name`,company,`position`,mobile,email
    from customer
    <where>
      <if test="keyword != null and keyword != ''">
        AND customer.name LIKE #{keyword}
      </if>
      <if test="startTime != null and startTime != ''">
        AND customer.`update_time` <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND customer.`update_time` <![CDATA[<=]]> #{endTime}
      </if>
    </where>
    ) c
    LEFT JOIN staff_customer_follow_relation
    ON c.id = staff_customer_follow_relation.customer_id AND staff_customer_follow_relation.is_follow = 1
    LEFT JOIN staff
    ON staff.userid = staff_customer_follow_relation.user_id
  </select>
  <select id="selectByMobile" resultType="int">
    select count(*)
    from customer
    where mobile = #{mobile}
  </select>
</mapper>