<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.MessageTagMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.MessageTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="corpid" property="corpid" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="MessageTagMap" type="com.wzy.crm.vo.MessageHotTagVo">
    <id column="tag_id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="tag_num" property="num" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wzy.crm.pojo.MessageTag" >
    insert into message_tag (`name`, corpid,update_time
      )
    values (#{name,jdbcType=VARCHAR}, #{corpid,jdbcType=VARCHAR},now()
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.MessageTag" >
    update message_tag
    set `name` = #{name,jdbcType=VARCHAR},
    <if test="corpid != null and corpid != ''">
      corpid = #{corpid,jdbcType=VARCHAR},
    </if>
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, `name`, corpid
    from message_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `name`, corpid
    from message_tag
  </select>
  <select id="findMessageTagCount" resultType="int">
    select count(*)
    from message_tag;
  </select>
  <select id="findMessageTagCountByParam" resultType="int">
    select count(*) from message_tag
    <where>
      <if test="keyword != null and keyword != ''">
        AND `name` LIKE #{keyword}
      </if>
    </where>
  </select>
  <select id="selectMessageTagByParam" resultMap="BaseResultMap">
    SELECT id,`name`
    FROM message_tag
    <where>
      <if test="keyword != null and keyword != ''">
        AND `name` LIKE #{keyword}
      </if>
    </where>
    ORDER BY update_time desc
    limit ${start},${length}
  </select>
  <select id="selectMessageTagCountByName" resultType="int">
    select count(*)
    from message_tag
    where `name` = #{name}
  </select>
  <select id="selectByTagName" resultType="int">
    select id
    from message_tag
    where `name` = #{name}
  </select>
  <select id="selectHotTags" resultMap="MessageTagMap">
    select tag_id,`name`,tag_num
    from v_message_tag_hot
    order by tag_num desc
    limit 0,10
  </select>
</mapper>