<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="corp_id" property="corpId" jdbcType="VARCHAR" />
    <result column="suite_id" property="suiteId" jdbcType="VARCHAR" />
    <result column="corpid" property="corpid" jdbcType="VARCHAR" />
    <result column="msgType" property="msgtype" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="picurl" property="picUrl" jdbcType="VARCHAR" />
    <result column="btntxt" property="btntxt" jdbcType="VARCHAR" />
    <result column="third_params" property="thirdParams" jdbcType="VARCHAR" />
    <result column="pageCount" property="pagecount" jdbcType="INTEGER" />
    <result column="create_userId" property="createUserId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="delFlag" property="delflag" jdbcType="INTEGER" />
    <result column="titleText" property="titleText" jdbcType="LONGVARCHAR" />
    <result column="title" property="title" jdbcType="LONGVARCHAR" />
    <result column="descriptionText" property="descriptionText" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
    <result column="coverPicAttach" property="coverpicattach" jdbcType="LONGVARCHAR" />
    <result column="contentAttach" property="contentattach" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.wzy.crm.pojo.Message" >
    insert into message (corp_id, suite_id,
      corpid, msgType, `type`,
      url, picurl, btntxt,
      third_params, pageCount, create_userId, 
      update_time, status, delFlag, 
      titleText, title, descriptionText, 
      description, coverPicAttach, contentAttach
      )
    values ( #{corpId,jdbcType=VARCHAR}, #{suiteId,jdbcType=VARCHAR},
      #{corpid,jdbcType=VARCHAR}, #{msgtype,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{btntxt,jdbcType=VARCHAR},
      #{thirdParams,jdbcType=VARCHAR}, #{pagecount,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER},
      now(), #{status,jdbcType=INTEGER}, #{delflag,jdbcType=INTEGER},
      #{titleText,jdbcType=LONGVARCHAR}, #{title,jdbcType=LONGVARCHAR}, #{descriptionText,jdbcType=LONGVARCHAR},
      #{description,jdbcType=LONGVARCHAR}, #{coverpicattach,jdbcType=LONGVARCHAR}, #{contentattach,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.Message" >
    update message
    set corp_id = #{corpId,jdbcType=VARCHAR},
      suite_id = #{suiteId,jdbcType=VARCHAR},
      corpid = #{corpid,jdbcType=VARCHAR},
      msgType = #{msgtype,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      picurl = #{picUrl,jdbcType=VARCHAR},
      btntxt = #{btntxt,jdbcType=VARCHAR},
      third_params = #{thirdParams,jdbcType=VARCHAR},
      pageCount = #{pagecount,jdbcType=INTEGER},
      create_userId = #{createUserid,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      delFlag = #{delflag,jdbcType=INTEGER},
      titleText = #{titletext,jdbcType=LONGVARCHAR},
      title = #{title,jdbcType=LONGVARCHAR},
      descriptionText = #{descriptiontext,jdbcType=LONGVARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      coverPicAttach = #{coverpicattach,jdbcType=LONGVARCHAR},
      contentAttach = #{contentattach,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, corp_id, suite_id, corpid, msgType, `type`, url, picurl, btntxt, third_params,
    pageCount, create_userId, update_time, status, delFlag, titleText, title, descriptionText, 
    description, coverPicAttach, contentAttach
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, corp_id, suite_id, corpid, msgType, `type`, url, picurl, btntxt, third_params,
    pageCount, create_userId, update_time, status, delFlag, titleText, title, descriptionText, 
    description, coverPicAttach, contentAttach
    from message
  </select>
  <select id="selectMessageTitleByParam" resultMap="BaseResultMap">
    select id,title
    from message
    <where>
      <if test="keyword != null and keyword != ''">
        AND message.title LIKE #{keyword}
      </if>
    </where>
  </select>
</mapper>