<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.MessageShareCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.MessageShareCustomer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="share_id" property="shareId" jdbcType="INTEGER" />
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_share_customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzy.crm.pojo.MessageShareCustomer" >
    insert into message_share_customer (share_id, message_id, user_id,
      customer_id,open_id, update_time)
    values (#{shareId,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR},
      #{customerId,jdbcType=INTEGER},#{openId},now())
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.MessageShareCustomer" >
    update message_share_customer
    set share_id = #{shareId,jdbcType=INTEGER},
      message_id = #{messageId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, share_id, message_id, user_id, customer_id, open_id
    from message_share_customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, share_id, message_id, user_id, customer_id, open_id
    from message_share_customer
  </select>
  <select id="selectCustomerIdByShareId" resultMap="BaseResultMap">
    select id,share_id,message_id,user_id,customer_id
    from message_share_customer
    where share_id = #{shareId}
  </select>
</mapper>