<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.MessageShareTransmitMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.MessageShareTransmit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_share_transmit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzy.crm.pojo.MessageShareTransmit" >
    insert into message_share_transmit (id, user_id, customer_id, 
      open_id, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER}, 
      #{openId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.MessageShareTransmit" >
    update message_share_transmit
    set user_id = #{userId,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      open_id = #{openId,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, customer_id, open_id, update_time
    from message_share_transmit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, customer_id, open_id, update_time
    from message_share_transmit
  </select>
</mapper>