<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.MessageShareMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.MessageShare" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="push_time" property="pushTime" jdbcType="TIMESTAMP" />
    <result column="share_flag" property="shareFlag" jdbcType="INTEGER" />
    <result column="share_time" property="shareTime" jdbcType="TIMESTAMP" />
    <result column="open_count" property="openCount" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_share
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.wzy.crm.pojo.MessageShare" >
    insert into message_share (id, message_id, user_id, 
      push_time, share_flag, share_time, 
      open_count, del_flag)
    values (#{id,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, 
      #{pushTime,jdbcType=TIMESTAMP}, #{shareFlag,jdbcType=INTEGER}, #{shareTime,jdbcType=TIMESTAMP}, 
      #{openCount,jdbcType=INTEGER}, #{delFlag,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.MessageShare" >
    update message_share
    set message_id = #{messageId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      share_flag = #{shareFlag,jdbcType=INTEGER},
      share_time = #{shareTime,jdbcType=TIMESTAMP},
      open_count = #{openCount,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateOpenCount">
    update message_share
    set open_count = open_count+1
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, message_id, user_id, push_time, share_flag, share_time, open_count, del_flag
    from message_share
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, message_id, user_id, push_time, share_flag, share_time, open_count, del_flag
    from message_share
  </select>
</mapper>