<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.MessageTagRelationMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.MessageTagRelation" >
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="page" property="page" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.wzy.crm.pojo.MessageTagRelation" >
    insert into message_tag_relation (message_id, tag_id, page
      )
    values (#{messageId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER}, #{page,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select message_id, tag_id, page
    from message_tag_relation
  </select>
  <insert id="insertByParam">
    insert into message_tag_relation
    (message_id,tag_id)
    values
    <foreach collection="tagIds" item="item" index="index" separator=",">
      (#{messageId}, #{item.value})
    </foreach>
  </insert>
  <insert id="insertByMessageTagRelation">
    insert into message_tag_relation
    (message_id,tag_id,page)
    values
    <foreach collection="messageTagRelations" item="item" index="index" separator=",">
      (#{item.messageId},#{item.tagId},#{item.page})
    </foreach>
  </insert>
</mapper>