<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.ReadTimesRecommendMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.ReadTimesRecommend" >
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="DOUBLE" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="MessageResponseMap" type="com.wzy.crm.vo.MessageResponseVo">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="msgType" property="msgType" jdbcType="INTEGER"/>
    <result column="titleText" property="titleText" jdbcType="VARCHAR"/>
    <result column="name" property="createUserName" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.wzy.crm.pojo.ReadTimesRecommend" >
    insert into read_times_recommend (customer_id, message_id, `value`,
      update_time)
    values (#{customerId,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, #{value,jdbcType=DOUBLE},
      now())
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select customer_id, message_id, `value`, update_time
    from read_times_recommend
  </select>
  <select id="selectRecommendMessage" resultMap="MessageResponseMap">
    select message.id,message.titleText,message.msgType,staff.`name`,message.update_time
    from(
    select message_id,`value`
    from read_times_recommend
    where customer_id = #{customerId}
    order by `value` desc
    limit 0,5
    ) rtr
    left join message
    on message.id = rtr.message_id
    left join staff
    on staff.userid = message.create_user_id
  </select>
</mapper>