<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzy.crm.dao.StaffCustomerFollowRelationMapper" >
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.StaffCustomerFollowRelation" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="is_follow" property="isFollow" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="StaffMap" type="com.wzy.crm.pojo.Staff" >
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="userid" property="userid" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="CustomerMap" type="com.wzy.crm.pojo.Customer">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="webSite" property="website" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="transmit_times" property="transmitTimes" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.wzy.crm.pojo.StaffCustomerFollowRelation" >
    insert into staff_customer_follow_relation (user_id, customer_id, is_follow
      )
    values (#{userId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 1
      )
  </insert>
  <insert id="insertByParam">
   insert into staff_customer_follow_relation
    (customer_id,user_id,is_follow)
    values
    <foreach collection="userIds" item="item" index="index" separator=",">
      (#{customerId}, #{item}, 1)
    </foreach>
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, customer_id, is_follow
    from staff_customer_follow_relation
  </select>
  <select id="selectStaffsByParam" resultMap="StaffMap">
    select userid,`name`
    from staff_customer_follow_relation,staff
    where staff_customer_follow_relation.customer_id = #{customerId}
     and staff_customer_follow_relation.user_id = staff.userid
  </select>
  <select id="selectStaffIdsByParam" resultType="string">
    select user_id
    from staff_customer_follow_relation
    where customer_id = #{customerId}
  </select>
  <delete id="deleteByParam">
    delete
    from staff_customer_follow_relation
    where
    <foreach collection="userIds" item="item" index="index" separator="or">
      (customer_id = #{customerId} and user_id = #{item})
    </foreach>
  </delete>
  <select id="selectCustomersByUserId" resultMap="CustomerMap">
    select id,user_id,`name`,mobile,wechat,company,`position`,address,telephone,email,times,transmit_times
    from v_myself_customer
    <where>
      user_id = #{userid}
      <if test="keyword != null and keyword != ''">
        AND CONCAT(`name`,`company`) LIKE #{keyword}
      </if>
    </where>
    order by update_time desc
    limit #{start},#{length}
  </select>
  <select id="selectCustomerCountsByUserId" resultType="int">
    select count(customer.id)
    from
    (select customer_id
    from staff_customer_follow_relation
    where user_id = #{userid} and is_follow = 1
    ) scf
    left join customer
    on scf.customer_id  = customer.id
  </select>
</mapper>