<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.crm.dao.VisitPlanMapper">
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.VisitPlan">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="remind" jdbcType="TIMESTAMP" property="remind" />
    <result column="to_staff" jdbcType="VARCHAR" property="toStaff" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="picture" jdbcType="LONGVARCHAR" property="picture" />
    <result column="attachment" jdbcType="LONGVARCHAR" property="attachment" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from visit_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzy.crm.pojo.VisitPlan">
    insert into visit_plan (id, user_id, customer_id,
      `time`, place, location,content,
      remind, to_staff, update_time, 
      picture, attachment)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER},
      #{time,jdbcType=TIMESTAMP}, #{place,jdbcType=VARCHAR},#{location,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{remind,jdbcType=TIMESTAMP}, #{toStaff,jdbcType=VARCHAR}, now(),
      #{picture,jdbcType=LONGVARCHAR}, #{attachment,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.VisitPlan">
    update visit_plan
    set user_id = #{userId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP},
      place = #{place,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      remind = #{remind,jdbcType=TIMESTAMP},
      to_staff = #{toStaff,jdbcType=VARCHAR},
      update_time = now(),
      picture = #{picture,jdbcType=LONGVARCHAR},
      attachment = #{attachment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select visit_plan.id, user_id,staff.`name` staff_name, customer_id,customer.`name` customer_name, `time`, place, content, remind, to_staff, visit_plan.update_time,
    picture, attachment
    from visit_plan,staff,customer
    where visit_plan.id = #{id,jdbcType=INTEGER}
    and staff.userid = visit_plan.user_id
    and customer.id = visit_plan.customer_id
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, customer_id, `time`, place,location, content, remind, to_staff, update_time,
    picture, attachment
    from visit_plan
  </select>
  <select id="selectPlanByParam" parameterType="map" resultMap="BaseResultMap">
    select sc.id,sc.user_id,staff.`name` staff_name,sc.customer_id,customer.`name` customer_name,sc.`time`,sc.remind,sc.place,sc.content
    from
    (select id,user_id,customer_id,`time`,remind,place,content
    from visit_plan
    <where>
      visit_plan.customer_id = #{customerId,jdbcType=INTEGER}
      <if test="startTime != null and startTime != ''">
      AND `time` <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
      AND `time` <![CDATA[<=]]> #{endTime}
      </if>
    </where>
    ) sc
    LEFT JOIN customer
    ON customer.id = sc.customer_id
    LEFT JOIN staff
    ON staff.userid = sc.user_id
    <where>
      <if test="keyword != null and keyword != ''">
        AND staff.name LIKE #{keyword}
      </if>
    </where>
    ORDER BY ${orderColumn} ${orderType}
    limit ${start},${length}
  </select>
  <select id="findPlanCountByParam" resultType="int">
    select count(DISTINCT (sc.id))
    from
    (select id,user_id,customer_id,`time`
    from visit_plan
    <where>
      visit_plan.customer_id = #{customerId,jdbcType=INTEGER}
      <if test="startTime != null and startTime != ''">
        AND `time` <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND `time` <![CDATA[<=]]> #{endTime}
      </if>
    </where>
    ) sc
    LEFT JOIN customer
    ON customer.id = sc.customer_id
    LEFT JOIN staff
    ON staff.userid = sc.user_id
    <where>
      <if test="keyword != null and keyword != ''">
        AND staff.name LIKE #{keyword}
      </if>
    </where>
  </select>
  <select id="findPlanCount" resultType="int">
    select count(DISTINCT (id))
    from visit_plan
    where customer_id = #{customerId}
  </select>
  <select id="selectByUserIdAndCustomerId" resultMap="BaseResultMap">
    select id,`time`, place, location,content,
      remind, to_staff, update_time,
      picture, attachment
    from visit_plan
    where user_id = #{userId} and customer_id = #{customerId}
    limit #{start},#{size}
  </select>
</mapper>