<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.crm.dao.VisitLogMapper">
  <resultMap id="BaseResultMap" type="com.wzy.crm.pojo.VisitLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="way" jdbcType="VARCHAR" property="way" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="requirement" jdbcType="VARCHAR" property="requirement" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="to_staff" jdbcType="VARCHAR" property="toStaff" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="picture" jdbcType="LONGVARCHAR" property="picture" />
    <result column="attachment" jdbcType="LONGVARCHAR" property="attachment" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from visit_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzy.crm.pojo.VisitLog">
    insert into visit_log (id, user_id, customer_id,
      way, result, requirement, 
      memo, to_staff, update_time, 
      picture, attachment)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{customerId,jdbcType=INTEGER},
      #{way,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{requirement,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{toStaff,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{picture,jdbcType=LONGVARCHAR}, #{attachment,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzy.crm.pojo.VisitLog">
    update visit_log
    set user_id = #{userId,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=INTEGER},
      way = #{way,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      requirement = #{requirement,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      to_staff = #{toStaff,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      picture = #{picture,jdbcType=LONGVARCHAR},
      attachment = #{attachment,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select visit_log.id, user_id,staff.`name` staff_name, customer_id,customer.`name` customer_name, way, result, requirement, memo, to_staff, visit_log.update_time,
    picture, attachment
    from visit_log,staff,customer
    where visit_log.id = #{id,jdbcType=INTEGER}
    and staff.userid = visit_log.user_id
    and customer.id = visit_log.customer_id
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, customer_id, way, result, requirement, memo, to_staff, update_time,
    picture, attachment
    from visit_log
  </select>
  <select id="selectLogByParam" resultMap="BaseResultMap">
    select sc.id,sc.user_id,staff.`name` staff_name,sc.customer_id,customer.`name` customer_name,sc.way,sc.result,sc.requirement
    from
    (select id,user_id,customer_id,way,result,requirement,update_time
    from visit_log
    <where>
      visit_log.customer_id = #{customerId,jdbcType=INTEGER}
      <if test="startTime != null and startTime != ''">
        AND update_time <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND update_time <![CDATA[<=]]> #{endTime}
      </if>
    </where>
    ) sc
    LEFT JOIN customer
    ON customer.id = sc.customer_id
    LEFT JOIN staff
    ON staff.userid = sc.user_id
    <where>
      <if test="keyword != null and keyword != ''">
        AND staff.name LIKE #{keyword}
      </if>
    </where>
    ORDER BY ${orderColumn} ${orderType}
    limit ${start},${length}
  </select>
  <select id="findLogCountByParam" resultType="int">
    select count(DISTINCT (sc.id))
    from
    (select id,user_id,customer_id,update_time
    from visit_log
    <where>
      visit_log.customer_id = #{customerId,jdbcType=INTEGER}
      <if test="startTime != null and startTime != ''">
        AND update_time <![CDATA[>=]]> #{startTime}
      </if>
      <if test="endTime != null and endTime != ''">
        AND update_time <![CDATA[<=]]> #{endTime}
      </if>
    </where>
    ) sc
    LEFT JOIN customer
    ON customer.id = sc.customer_id
    LEFT JOIN staff
    ON staff.userid = sc.user_id
    <where>
      <if test="keyword != null and keyword != ''">
        AND staff.name LIKE #{keyword}
      </if>
    </where>
  </select>
  <select id="findLogCount" resultType="int">
    select count(DISTINCT (id))
    from visit_log
    where customer_id = #{customerId}
  </select>
</mapper>